@font-face{
    font-family: KaiTi;
    src: url();
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #efefef;
    margin: 0;
}

hr{
    height: 0;
    border: none;
    border-top: solid 1px #dedede;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.navigationbar {
    padding-top: 20px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.navigationbar-inner{
    padding: 0 16px;

}

.navigationbar a {
    float: left;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 8px 8px;
}

.navigationbar nav {
    float: right;
    padding: 6px 10px 5px 0;
}

.navigationbar nav>ul {
    margin: 0;
    padding: 0;
}

.navigationbar nav>ul>li {
    float: left;
    list-style: none;
    margin-left: 17px;
    margin-right: 17px;
}

.navigationbar nav>ul>li>a {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 3px;
    padding-top: 3px;
    display: block;
    border-top: 3px transparent solid;
    border-bottom: solid 3px transparent;
}

.navigationbar nav>ul>li>a:hover {
    border-bottom: solid red 3px;
}

.banner {
    background-image: url(./img/bg.jpg);
    height: 515px;
    background-position: center center;
    background-size: cover;
}

.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.5);

}

.useCard{
    max-width: 940px;
    box-shadow: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    background-color: #fff;
    margin-top: -386px;
}

main img{
    height: 300px;
}

.profile{
    padding: 40px;
}

main .picture{
    float: left;
}

main .text{
    float: left;
    width: 520px;
    padding-left: 40px;

}

.useCard .text .welcome{
    background-color: #e6686a;
    color: #ffffff;
    padding: 5px 16px;
    position: relative;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 28px;
}

.useCard .text .welcome .trangle{
    width: 0px;
    border: 10px solid transparent;
    border-left-color: #e6686a;
    border-top: 0px;
    position: absolute;
    left: 6px;
    top: 100%;
}

main h2{
    font-size: 16px;
    padding-bottom: 20px;

}

.useCard dl{
    padding-top: 15px;
}

.useCard .text dl dt,
.useCard .text dl dd{
    padding: 6px 0;
    float: left;
}

.useCard .text dl dt{
    width: 30%;
    font-weight: bold;

}

.useCard .text dl dd{
    width: 70%;
    color: #9a9a9a;
}

.useCard .link{
    background: #e6686a;
    
    text-align: center;
}

.useCard .icon{
    fill: white;
    height: 30px;
    width: 30px;
    vertical-align: top;
    border-radius: 50%;
    padding: 10px 10px;
    margin: 10px 30px;
}

.useCard .icon:hover{
    background-color:rgba(0, 0, 0, 0.2);
}

.downloadResume-button{
    text-align: center;
    margin: 60px 0px;
}

.downloadResume {
    box-shadow: 0px 10px 14px -7px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
    
}

.downloadResume:hover{
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color:#6c7c7c;
}

.downloadResume:active{
	box-shadow: 0px 10px 14px -7px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.myButton:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.introdution{
    text-align: center;
    font-family: STKaitiSC-Regular;
    font-size: 20px;

}
